.navbar{
    display: flex;
    justify-content: space-between;
}

.content-body {
    display: flex;
    flex-direction: column;
    margin: 100px 150px 100px 150px;
    
}

.menu-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item{
    display: flex;
    flex-direction: row;
    width: 700px;
    text-align: left;
    justify-content: space-between;
    max-height: 150px;
    max-width: 710px;
}

.menu-item-name{
    font-weight: 900;

}

.menu-item-description{
    align-items: center;
    text-overflow: ellipsis;
    overflow:auto; 
    max-width: 400px;
    max-height: 60px;
}

.price{
    margin-top: 20px;
}

.button-right{
    display: flex;
    flex-direction: column;
}

.item-img{
display: flex;
max-width: 120px;
min-height: 60px;
}

.button-container{
    position: relative;
    margin-top: 0;
}

.view-order{
    display: flex;
    position: relative;
    align-content: flex-end;
}

.order-form{
    position: absolute;
    
}